html {
  scroll-behavior: smooth;
  height: 100%;
}

footer {
  background: #f8f9fa;
  color: #6c757d;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: auto;
  padding: 0.25rem;
}

.navbar-logo {
  max-width: 40px;
  max-height: 40px;
}

/* Similar to Bootstrap Social but for GitLab colors */
.btn-gitlab {
  color: #fff;
  background-color: #de7e00;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-gitlab:focus, .btn-gitlab.focus {
  color: #fff;
  background-color: #c06d00;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-gitlab:hover {
  color: #fff;
  background-color: #c06d00;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-gitlab:active, .btn-gitlab.active, .open>.dropdown-toggle.btn-gitlab {
  color: #fff;
  background-color: #c06d00;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-gitlab:active:hover, .btn-gitlab.active:hover, .open>.dropdown-toggle.btn-gitlab:hover, .btn-gitlab:active:focus, .btn-gitlab.active:focus, .open>.dropdown-toggle.btn-gitlab:focus, .btn-gitlab:active.focus, .btn-gitlab.active.focus, .open>.dropdown-toggle.btn-gitlab.focus {
  color: #fff;
  background-color: #af6300;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-gitlab:active, .btn-gitlab.active, .open>.dropdown-toggle.btn-gitlab {
  background-image: none
}

.btn-gitlab.disabled:hover, .btn-gitlab[disabled]:hover, fieldset[disabled] .btn-gitlab:hover, .btn-gitlab.disabled:focus, .btn-gitlab[disabled]:focus, fieldset[disabled] .btn-gitlab:focus, .btn-gitlab.disabled.focus, .btn-gitlab[disabled].focus, fieldset[disabled] .btn-gitlab.focus {
  background-color: #de7e00;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-gitlab .badge {
  color: #de7e00;
  background-color: #fff
}

/* Similar to bootstrap social but for goodreads */
.btn-goodreads {
  color: #4a3525;
  background-color: #f4f2e9;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-goodreads:focus, .btn-goodreads.focus {
  color: #4a3525;
  background-color: #e2e0d6;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-goodreads:hover {
  color: #4a3525;
  background-color: #e2e0d6;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-goodreads:active, .btn-goodreads.active, .open>.dropdown-toggle.btn-goodreads {
  color: #4a3525;
  background-color: #e2e0d6;
  border-color: rgba(0, 0, 0, 0.2)
}


.btn-goodreads:active:hover, .btn-goodreads.active:hover, .open>.dropdown-toggle.btn-goodreads:hover, .btn-goodreads:active:focus, .btn-goodreads.active:focus, .open>.dropdown-toggle.btn-goodreads:focus, .btn-goodreads:active.focus, .btn-goodreads.active.focus, .open>.dropdown-toggle.btn-goodreads.focus {
  color: #4a3525;
  background-color: #e2e0d6;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-goodreads:active, .btn-goodreads.active, .open>.dropdown-toggle.btn-goodreads {
  background-image: none
}

.btn-goodreads.disabled:hover, .btn-goodreads[disabled]:hover, fieldset[disabled] .btn-goodreads:hover, .btn-goodreads.disabled:focus, .btn-goodreads[disabled]:focus, fieldset[disabled] .btn-goodreads:focus, .btn-goodreads.disabled.focus, .btn-goodreads[disabled].focus, fieldset[disabled] .btn-goodreads.focus {
  background-color: #f4f2e9;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-goodreads .badge {
  color: #f4f2e9;
  background-color: #fff
}


