body {
    background-color: hsla(191, 61%, 69%,1);
    color: black;
}

#character-select-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character-card img {
    width: 85%;
    height: auto;
    filter: grayscale(100%);

    transition-property: filter;
    transition-duration: 270ms;
}

.character-card {
    position: relative;
    min-width: 275px;
    min-height: 375px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-card h3{
    position: absolute;
    top: 82%;
}

.card-row {
    width: 100%;
    overflow-x: scroll;

    display: flex;
    flex-direction: row;

    background: rgba(255, 255, 255, 0.308);
    color: black;
}

@media (min-width: 1200px){
    .card-row {
        overflow-x: visible;
    }
}

/* Profile styles */
#profile {
    display: none;
}

.block {
    background: rgba(255, 255, 255, 0.308);

    margin: 0.5rem 0rem;
    padding: 1rem;
    border-radius: 0.25rem;
}

.card-block {
    background: rgba(255, 255, 255, 0.308);

    margin: 0.5rem 0rem;
    border-width: 0;
}

.block a, .card-block a {
    text-decoration: none;
}

.block img {
    width: 100%;

    border-color: white;
    border-width: 0.25rem;
    border-style: solid;
}

@media (max-width: 992px){
    #profile-content {
        flex-direction: column;
    }
}