header {
  background-image: url('../images/pier-panoramic_edited.jpg');
  height: 344px;
}

.bg-transparent-light {
  background: rgba(245, 245, 245, 0.685);
}

.card {
  margin-left: 7px;
  margin-right: 7px;
  max-width: 260px;
}

.card img {
  max-width: 260px;
}

#hand:hover, .close:active#hand {
  animation-name: wave;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.info-transparent {
  background: #17a3b8ef;
  z-index: 4000;
  border-radius: 0%;
}

.z-5000 {
  z-index: 5000;
}

.mw-200 {
  max-width: 200px;
}

.scroll-alert {
  overflow-y: scroll;
}