blockquote p {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 32px;
    text-align: center;
}

blockquote cite {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 90%;
    text-align: right;
}

header {
    background-image: url('../images/sunflower-spring-cropped.jpg');
    background-size: 100% auto;
    height: 316px;
}

header h1 {
    color: white;
    background: #ffd1dc;

    padding: 0.4rem;
    border-radius: 0.25rem;

    font-size: 72px;
    font-family: 'Cedarville Cursive', cursive;
}

.card img {
    width: 40%;
    height: auto;
}

.card h3 {
    font-family: 'Cedarville Cursive', cursive;
}

.card {
    margin: 1%;
    width: 260px;
    height: 300px;

    color: white;
    border: none;
}

.card .front, .card .back {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card:hover .front {
    display: none;
}

.card .back {
    display: none;
    padding: 10%;
    font-size: 14px;
}

.card:hover .back {
    display: block;
}

.bg-sunset {
    background: linear-gradient(#ff8ea870, #ffca7c75);
}

.bg-clarity {
    background: linear-gradient(rgba(234, 211, 255, 0.726), #c4ebfdb2);
}

.bg-sea {
    background: linear-gradient(#befda1, #b9ecf8);
}

.bg-sunrise {
    background: linear-gradient(#ffe13875, #ffca7c75);
}

.bg-sunrise-reverse {
    background: linear-gradient(#ffca7c75, #ffe13875);
}

.bg-silent {
    background: linear-gradient(white, lightgrey);
}
